{
  margin:0px;
  padding:0px;
}
body{
  font-family:Tahoma, Geneva, sans-serif;
}
#container{
  width:550px;
  background-color:rgba(250,250,252,.9);
  margin:auto;
  margin-top:10px;
  margin-bottom:10px;
  box-shadow:0 0 3px #999;
}
#container_body{
  padding:20px;
}
.form_title{
  font-size:35px;
  color:#141823;
  text-align:center;
  padding:10px;
  font-weight:normal;
}
.head_para{
  font-size:19px;
  color:#99a2a7;
  text-align:center;
  font-weight:normal;
}
#form_name{
  padding:25px 0 0 15px;
}
.firstnameorlastname{
  margin-right:20px;
}
.input_name{
  width:207px;
  padding:5px;
  font-size:18px;
}
#email_form{
  clear:both;
  padding:15px 0 10px 0px;
}
.input_email{
  width:434px;
  padding:5px;
  font-size:18px;
}
#Re_email_form{
  padding:10px 0 10px 0px;
}
.input_Re_email{
  width:434px;
  padding:5px;
  font-size:18px;
}
#password_form{
  padding:10px 0 10px 0px;
}
.input_password{
  width:434px;
  padding:5px;
  font-size:18px;
}
.birthday_title{
  font-size:16px;
  color:#8b919d;
  font-weight:normal;
  padding:0 0 10px 0;
}
select{
  padding:5px;
}
#birthday{
  font-size:12px;
  color:#8b919d;
  padding-top:10px;
}

#footer {
    background:#000000;
    width:100%;
    height:100px;
    position:absolute;
    bottom:0;
    left:0;
}
body{
    background-color:lightblue;
}
.marquee {
    width: 450px;
    margin: 0 auto;
    overflow: hidden;
    white-space: nowrap;
    box-sizing: border-box;
    animation: marquee 500s linear infinite;
}

.marquee:hover {
    animation-play-state: paused
}

/* Make it move */
@keyframes marquee {
    0%   { text-indent: 27.5em }
    100% { text-indent: -105em }
}


/* Style the links */
.demo-content{
    padding: 30px;
    font-size: 15px;
    min-height: 300px;
    background: #b9def0;
    margin-bottom: 10px;
}
.demo-content.bg-alt{
    background: #abb1b8;
}
a{
    color: brown;
}
