

<br><br><br><br>
<marquee behavior="alternate"><h3>Applaud Solutions</h3></marquee>

<div class="jumbotron text-center" >
    <h2>Applaud</h2>

<div class="bs-example">
    <div class="media">
        <a href="#" class="pull-left">
            <img src="app/images/img.jpg" class="media-object">
        </a>
        <div class="media-body">
            <h3 class="media-heading">Applaud are an Oracle partner who offer phone, tablet and desktop apps for Oracle HCM. <small><i></i></small></h3><br>
            <p>Formed in 2008 by experts in the Oracle HCM community,
                we help clients modernize their Oracle E-Business Suite HCM implementations with an improved desktop
                user experience complimented with mobile apps for iPhone, iPad and Android devices.
                We are the world’s leading supplier of mobile applications for Oracle E-Business Suite.</p>
        </div>
    </div>

</div>
</div>